.navigation
  span

header.header
  a.header__logo(href="#hero")
    img.header__logo-image(src="assets/images/logo-icon.png" alt="logo")

  .header__container
    nav
      h2.hidden Menu
      .header__box
        ul.header-menu
          li
            a.header-menu__item(href="#difference") Diferenciais
          li
            a.header-menu__item(href="#discovery") Sobre
          li
            a.header-menu__item(href="#platform") Compre

      .header__box
        ul.header-menu
          li
            a.header-menu__item(href="#download") Contato
          li
            a.header-menu__item(href="#video") Vídeo
          li
            a.header-menu__item(href="#plans") Planos
