section.difference#difference
  .difference__container
    h2.difference__title.wow.fadeInUp(data-wow-delay="100ms") Diferenciais

    .difference__list
      .difference__list-item.wow.fadeInUp(data-wow-delay="200ms")
        i.difference__list-item__icon.icon-seal
        h3.difference__list-item__title Qualidade
        p.difference__list-item__description
          | Defina limites, permissões e informações para cada vendedor.

      .difference__list-item.wow.fadeInUp(data-wow-delay="300ms")
        i.difference__list-item__icon.icon-money
        h3.difference__list-item__title Preço
        p.difference__list-item__description
          | Oferecemos um produto profissional e de alta qualidade por um preço justo. Compare você mesmo o custo/benefício doPlanet com outros produtos semelhantes no mercado.

      .difference__list-item.wow.fadeInUp(data-wow-delay="400ms")
        i.difference__list-item__icon.icon-user
        h3.difference__list-item__title Suporte
        p.difference__list-item__description
          | Segunda a Sexta das 9h às 17h<br> Telefone: (19) 3468-3258<br> WhatsApp: (19) 99868-7264<br> E-mail: contato@pedidook.com.br

      .difference__list-item.wow.fadeInUp(data-wow-delay="500ms")
        i.difference__list-item__icon.icon-refresh
        h3.difference__list-item__title Atualizações
        p.difference__list-item__description
          | O Planet está em constante atualização. Estamos a todo momento criando novas funcionalidades e aperfeiçoando as existentes.
