section.discovery#discovery
  .discovery__container
    h2.discovery__title.wow.fadeInUp(data-wow-delay="100ms")
      | Conheça um pouco mais sobre o
      strong   Planet Vendas

    .discovery__wrapper.wow.fadeIn(data-wow-duration="3s")
      .discovery__list.swiper-container
        .swiper-wrapper
          .discovery__list-item.swiper-slide
            .discovery__list-item__box
              h3.discovery__list-item__title Titulo da Tela

            img.discovery__list-item__image(src="assets/images/data/phone.png" alt="image")

            .discovery__list-item__box
              p.discovery__list-item__description
                | em ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi urna. Nullam commodo pellentesque augue nec interdum. Praesent consequat quam et metus accumsan iaculis. Class aptent taciti sociosqu a.

          .discovery__list-item.swiper-slide
            .discovery__list-item__box
              h3.discovery__list-item__title Titulo da Tela
              p.discovery__list-item__description
                | em ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi urna. Nullam commodo pellentesque augue nec interdum. Praesent consequat quam et metus accumsan iaculis. Class aptent taciti sociosqu a.

            img.discovery__list-item__image(src="assets/images/data/phone.png" alt="image")

          .discovery__list-item.swiper-slide
            img.discovery__list-item__image(src="assets/images/data/phone.png" alt="image")

            .discovery__list-item__box
              h3.discovery__list-item__title Titulo da Tela
              p.discovery__list-item__description
                | em ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi urna. Nullam commodo pellentesque augue nec interdum. Praesent consequat quam et metus accumsan iaculis. Class aptent taciti sociosqu a.

          .discovery__list-item.swiper-slide
            .discovery__list-item__box
              h3.discovery__list-item__title Titulo da Tela

            img.discovery__list-item__image(src="assets/images/data/notebook.png" alt="image")

            .discovery__list-item__box
              p.discovery__list-item__description
                | em ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi urna. Nullam commodo pellentesque augue nec interdum. Praesent consequat quam et metus accumsan iaculis. Class aptent taciti sociosqu a.

          .discovery__list-item.swiper-slide
            .discovery__list-item__box
              h3.discovery__list-item__title Titulo da Tela
              p.discovery__list-item__description
                | em ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi urna. Nullam commodo pellentesque augue nec interdum. Praesent consequat quam et metus accumsan iaculis. Class aptent taciti sociosqu a.

            img.discovery__list-item__image(src="assets/images/data/notebook.png" alt="image")

          .discovery__list-item.swiper-slide
            img.discovery__list-item__image(src="assets/images/data/notebook.png" alt="image")

            .discovery__list-item__box
              h3.discovery__list-item__title Titulo da Tela
              p.discovery__list-item__description
                | em ipsum dolor sit amet, consectetur adipiscing elit. Quisque id nisi urna. Nullam commodo pellentesque augue nec interdum. Praesent consequat quam et metus accumsan iaculis. Class aptent taciti sociosqu a.

      .swiper-pagination
      span.discovery__nav.discovery__nav--prev.icon-arrow-left
      span.discovery__nav.discovery__nav--next.icon-arrow-right
