section.download#download
  .download__container
    h2.download__title.wow.fadeInUp(data-wow-delay="100ms")  Download

    .download__buttons
      a.download__button.wow.fadeInUp(data-wow-delay="200ms" href="#" target="_blank") Download PC
      a.download__button.wow.fadeInUp(data-wow-delay="300ms" href="#" target="_blank") Download Android

    .download__box
      img.download__logo.wow.fadeIn(data-wow-delay="400ms" src="assets/images/logo.png" alt=title)

      p.download__slogan.wow.fadeInUp(data-wow-delay="500ms")
        | A solução ideal para a Indústria, Distribuidora, Representante Comercial e Vendedor Autônomo.

      .download__info
        p.download__info-item.wow.fadeInUp(data-wow-delay="600ms")
          | dados da empresa

        p.download__info-item.wow.fadeInUp(data-wow-delay="700ms")
          | Dados sobre o atendimento Telefone
