.hero#hero
  .hero__container
    .hero__head
      p.hero__head-info.wow.fadeInUp (11) 99221 - 0211
      img.hero__head-logo.wow.fadeIn(src="assets/images/logo.png" alt=title)

    .hero__banner
      img.hero__banner-image.wow.fadeIn(data-wow-duration="2s" src="assets/images/data/notebook.png")

      .hero__banner-box
        h2.hero__banner-title.wow.fadeInUp(data-wow-delay="100ms")
          | A solução em forma de
          strong   vendas!

        ul.hero__banner-list
          li.hero__banner-list__item.wow.fadeInUp(data-wow-delay="200ms") Industria e distribuidora
          li.hero__banner-list__item.wow.fadeInUp(data-wow-delay="300ms") Representante comercial
          li.hero__banner-list__item.wow.fadeInUp(data-wow-delay="400ms") Vendedor autonomo

        p.hero__banner-info.wow.fadeInUp(data-wow-delay="500ms")
          | Experimente gratuitamente por
          strong   30 dias

        .hero__banner-buttons
          a.hero__banner-button.wow.fadeInUp(data-wow-delay="600ms" href="#discovery") Conheça
          a.hero__banner-button.wow.fadeInUp(data-wow-delay="700ms" href="#download") Download

  .hero__container.hero__container--ie
    .hero__features
      .wow.fadeInUp(data-wow-delay="100ms")
        h2.hero__features-title
          | PC
          i.icon-between
          | Android
          small Mantenha sua equipe sincronizada!

      .hero__features-content
        .hero__features-box
          .hero__features-item.wow.fadeInUp(data-wow-delay="200ms")
            i.hero__features-item__icon.icon-register
            .hero__features-item__box
              h3.hero__features-item__title Cadastros
              p.hero__features-item__description
                | Produtos, fotos, clientes, cobranças, agenda e vendedores. Importe suas planilhas Excel.

          .hero__features-item.wow.fadeInUp(data-wow-delay="300ms")
            i.hero__features-item__icon.icon-info
            .hero__features-item__box
              h3.hero__features-item__title Informações
              p.hero__features-item__description
                | Dezenas de filtros para você obter qualquer informação fácil e rápido.

          .hero__features-item.wow.fadeInUp(data-wow-delay="400ms")
            i.hero__features-item__icon.icon-controls
            .hero__features-item__box
              h3.hero__features-item__title Controle
              p.hero__features-item__description
                | Defina limites, permissões e informações para cada vendedor.

        .hero__features-box
          img.hero__features-image.wow.fadeIn(data-wow-duration="3s" src="assets/images/data/notebook-phone.png" alt="image")

        .hero__features-box
          .hero__features-item.wow.fadeInUp(data-wow-delay="200ms")
            i.hero__features-item__icon.icon-engine
            .hero__features-item__box
              h3.hero__features-item__title Produtividade
              p.hero__features-item__description
                | Emita seus pedidos de forma rápida e sem erros. Histórico dos pedidos em suas mãos.

          .hero__features-item.wow.fadeInUp(data-wow-delay="300ms")
            i.hero__features-item__icon.icon-rudder
            .hero__features-item__box
              h3.hero__features-item__title Praticidade
              p.hero__features-item__description
                | Funcionamento offline. Só precisa de internet no momento da sincronização.

          .hero__features-item.wow.fadeInUp(data-wow-delay="400ms")
            i.hero__features-item__icon.icon-seal
            .hero__features-item__box
              h3.hero__features-item__title Qualidade
              p.hero__features-item__description
                | Envie cópias de pedidos que vão impressionar seus clientes (por e-email e WhatsApp).
