section.plans#plans
  .plans__container
    h2.plans__title.wow.fadeInUp(data-wow-delay="100ms")
      | Escolha o período que desejar
      small.wow.fadeInUp(data-wow-delay="300ms") Acesso à todos os recursos do Planet Vendas, android e pc

    .plans__content
      .plans__box
        h3.plans__subtitle.wow.fadeInUp(data-wow-delay="200ms") Recursos

        .plans__info
          p.plans__info-item.wow.fadeIn(data-wow-delay="400ms")
            | Produtos com foto<br> Clientes e contatos<br> Vendedores<br> Representadas<br> Cobranças<br> Agenda<br> Tabelas de preço por cliente e vendedor<br> Cond. de pagto por cliente e representada<br> Histórico de pedidos<br> Importação Excel<br> Cópia por e-mail e WhatsApp<br> Controle de estoque<br> Suporte (fone,e-mail,chat e WhasApp)<br> Aviso de títulos vencidos<br> Desconto por item<br> Limite de desconto por vendedor<br> Grade de tamanhos<br> Recebimento parcial<br> Busca de endereço por CEP

          p.plans__info-item.wow.fadeIn(data-wow-delay="500ms")
            | ST e IPI<br> Política Flex<br> Relatórios<br> (analíticos e sintéticos)<br> Vendas<br> Catálogo de produtos<br> Comissão<br> Curva ABC de produtos<br> Curva ABC de clientes<br> Produtos inativos<br> Clientes inativos<br> Estoque<br> Margem de lucro<br> Financeiro<br> Agenda<br> Integrações<br> Pedidos<br> Clientes<br> Produtos

      .plans__box
        h3.plans__subtitle.wow.fadeInUp(data-wow-delay="200ms") Planos

        .plans__list
          .plans__list-item.wow.fadeInUp(data-wow-delay="300ms")
            h4.plans__list-item__title Mensal
            a.plans__list-item__button(href="#" target="_blank") R$ 19,90 / usuário

          .plans__list-item.wow.fadeInUp(data-wow-delay="400ms")
            h4.plans__list-item__title Semestral
            a.plans__list-item__button(href="#" target="_blank") R$ 17,90 / usuário

          .plans__list-item.wow.fadeInUp(data-wow-delay="500ms")
            h4.plans__list-item__title Trimestral (Melhor Escolha)
            a.plans__list-item__button(href="#" target="_blank") R$ 17,90 / usuário
