section.platform#platform
  .platform__container
    h2.platform__title.wow.fadeInUp(data-wow-delay="100ms") Gerencie seus vendedores na plataforma PC

    ul.platform__list
      li.platform__list-item.wow.fadeInUp(data-wow-delay="200ms") Cadastre seu vendedor na plataforma PC.
      li.platform__list-item.wow.fadeInUp(data-wow-delay="300ms") Informe o Código de ativação ao seu vendedor para ativar o Android.
      li.platform__list-item.wow.fadeInUp(data-wow-delay="400ms")  Pronto! Basta seu vendedor sincronizar o Android e receberá todas as informações!
      li.platform__list-item.wow.fadeInUp(data-wow-delay="500ms")  Você pode disponibilizar determinados clientes e representadas para cada vendedor, além de limitar o desconto/acréscimo máximo permitido por pedido e/ou item.

    .platform__buttons
      a.platform__button.wow.fadeInUp(data-wow-delay="600ms" href="#discovery") Conheça
      a.platform__button.wow.fadeInUp(data-wow-delay="700ms" href="#download") Download
