section.steps#steps
  .steps__container
    .steps__actions
      a.steps__actions-item.is-active.wow.fadeInUp(data-wow-delay="200ms" href="#tab-1") Instalação
      a.steps__actions-item.wow.fadeInUp(data-wow-delay="300ms" href="#tab-2") Envio
      a.steps__actions-item.wow.fadeInUp(data-wow-delay="400ms" href="#tab-3") Recebimento

    .steps__tabs.wow.fadeIn(data-wow-duration="2s")
      .steps__tabs-item.is-active#tab-1
        img.steps__tabs-item__image(src="assets/images/data/install.png" alt="image")

        .steps__tabs-item__box
          .steps__tabs-item__description
            h2 Fácil e rápido como você nunca viu!
            br
            br
            | O Planet Vendas versão PC é tão fácil de instalar quanto de usar.
            br
            br
            | Em 3 cliques você já tem o Planet Vendas instalado em seu computador.
            br
            br
            | Depois de instalado, o Planet Vendas versão PC pode ser acessado diretamente do seu desktop ou pelo menu inciar do Windows e você pode instalar em quantas máquinas quiser.
            br
            br
            .steps__tabs-item__buttons
              a.steps__tabs-item__button(href="#" target="_blank") Download
            br
            br
            br
            h3 Vantagens:
            br
            | Atualização automática
            br
            | Desempenho muito superior aos navegadores
            br
            | Acesso com 1 clique a partir do desktop
            br
            br
            br
            h3 Requisitos:
            br
            | Windows Vista, 7, 8 ou 10 com Java 8 instalado.
            br
            br
            | Se houver algum problema na instalação, pode ser falta do Java. Clique aqui para instalar o Java 8.

      .steps__tabs-item#tab-2
        .steps__tabs-item__box
          .steps__tabs-item__description
            h2 Fácil e rápido como você nunca viu!
            br
            br
            | O Planet Vendas versão PC é tão fácil de instalar quanto de usar.
            br
            br
            | Em 3 cliques você já tem o Planet Vendas instalado em seu computador.
            br
            br
            | Depois de instalado, o Planet Vendas versão PC pode ser acessado diretamente do seu desktop ou pelo menu inciar do Windows e você pode instalar em quantas máquinas quiser.
            br
            br
            .steps__tabs-item__buttons
              a.steps__tabs-item__button(href="#" target="_blank") Download
              a.steps__tabs-item__button(href="#" target="_blank") Download 2
            br
            br
            br
            h3 Vantagens:
            br
            | Atualização automática
            br
            | Desempenho muito superior aos navegadores
            br
            | Acesso com 1 clique a partir do desktop
            br
            br
            br
            h3 Requisitos:
            br
            | Windows Vista, 7, 8 ou 10 com Java 8 instalado.
            br
            br
            | Se houver algum problema na instalação, pode ser falta do Java. Clique aqui para instalar o Java 8.
        img.steps__tabs-item__image(src="assets/images/data/install.png" alt="image")

      .steps__tabs-item#tab-3
        .steps__tabs-item__box
          img.steps__tabs-item__image(src="assets/images/data/install.png" alt="image")
          .steps__tabs-item__description
            h2 Fácil e rápido como você nunca viu!
            br
            br
            | O Planet Vendas versão PC é tão fácil de instalar quanto de usar.
            br
            br
            | Em 3 cliques você já tem o Planet Vendas instalado em seu computador.
            br
            br
            | Depois de instalado, o Planet Vendas versão PC pode ser acessado diretamente do seu desktop ou pelo menu inciar do Windows e você pode instalar em quantas máquinas quiser.
            br
            br
            .steps__tabs-item__buttons
              a.steps__tabs-item__button(href="#" target="_blank") Download
              a.steps__tabs-item__button(href="#" target="_blank") Download 2
              a.steps__tabs-item__button(href="#" target="_blank") Download 3
            br
            br
            br
            h3 Vantagens:
            br
            | Atualização automática
            br
            | Desempenho muito superior aos navegadores
            br
            | Acesso com 1 clique a partir do desktop
            br
            br
            br
            h3 Requisitos:
            br
            | Windows Vista, 7, 8 ou 10 com Java 8 instalado.
            br
            br
            | Se houver algum problema na instalação, pode ser falta do Java. Clique aqui para instalar o Java 8.
