section.video#video
  .video__container
    h2.video__title.wow.fadeInDown(data-wow-delay="100ms") Conheça melhor

    .video__player
      .video__player-wrapper
        iframe.video__player-iframe(src="https://www.youtube.com/embed/cIyVNoY3_L4?rel=0&showinfo=0" width="560" height="315" allowfullscreen)

    p.video__description.wow.fadeInUp(data-wow-delay="300ms")
      | O Planet Vendas é a solução para automação da força de vendas, composto pelo aplicativo Android e pela plataforma PC.<br><br> Na plataforma PC, você gerencia seus vendedores, cadastra (ou importa planilhas Excel) produtos, clientes, tabelas, etc e recebe os pedidos emitidos, aberturas e alterações de clientes. Você ainda pode integrar o PedidoOK fit com o seu ERP.<br><br> O aplicativo funciona off-line, envia cópia dos pedidos por e-mail e whatsApp (com foto dos produtos), exibe o mix de produtos do cliente, última compra e ainda você define limites de desconto para seus vendedores.
