@font-face
  font-family: "ProductSans"
  src: url("../fonts/ProductSans-Regular.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProductSans"
  src: url("../fonts/ProductSans-Bold.woff") format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "ColorsOfAutumn"
  src: url("../fonts/ColorsOfAutumn.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "icons"
  src: url("../fonts/icons.woff") format("woff")
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: "icons" !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-left:before
  content: "\e900"

.icon-arrow-right:before
  content: "\e901"

.icon-between:before
  content: "\e902"

.icon-controls:before
  content: "\e903"

.icon-diamond:before
  content: "\e904"

.icon-engine:before
  content: "\e905"

.icon-info:before
  content: "\e906"

.icon-money:before
  content: "\e907"

.icon-refresh:before
  content: "\e908"

.icon-register:before
  content: "\e909"

.icon-rudder:before
  content: "\e90a"

.icon-seal:before
  content: "\e90b"

.icon-user:before
  content: "\e90c"
