.difference
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #fff

  +bp(lg)
    padding: 100px 0

  &__container
    width: 100%
    padding: 0 15px
    text-align: center
    position: relative

  &__title
    font-size: 42px
    color: $color-third
    margin-bottom: 50px
    padding-bottom: 10px
    display: inline-block
    border-bottom: 2px solid $color-primary

    +bp(sm)
      font-size: 48px

    +bp(xl)
      margin-bottom: 100px

  &__list
    width: 100%
    display: flex
    position: relative
    align-items: flex-start
    justify-content: space-around

    +bp(xl, max)
      flex-wrap: wrap

    &-item
      width: 100%
      position: relative
      color: $color-third

      +bp(md)
        width: 40%
        margin: 50px 0

      +bp(xl)
        margin: 0
        width: 100%
        max-width: 330px

      & + &
        +bp(xl)
          margin-left: 50px

        +bp(md, max)
          margin-top: 50px

      &__icon
        display: block
        font-size: 70px
        margin-bottom: 15px

        +bp(xl)
          margin-bottom: 50px

      &__title
        font-size: 25px
        margin-bottom: 15px
        color: $color-primary

        +bp(xl)
          margin-bottom: 30px

      &__description
        font-size: 20px
