.discovery
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-size: cover
  background-position: center
  background-color: $color-third
  background-image: url(../images/bgs/bg-02-m.jpg)

  +bp(lg)
    padding: 100px 0
    background-attachment: fixed
    background-image: url(../images/bgs/bg-02.jpg)

  &__container
    +container()
    text-align: center
    position: relative

  &__title
    color: #fff
    font-size: 38px
    margin-bottom: 50px
    padding-bottom: 10px
    display: inline-block
    border-bottom: 2px solid $color-primary

    +bp(sm)
      font-size: 45px

    +bp(xl)
      font-size: 48px
      margin-bottom: 100px

  &__wrapper
    width: 100%
    position: relative

    +bp(lg)
      padding: 0 40px

    +bp(lg, max)
      margin-bottom: 25px

  &__list
    position: relative

    &-item
      color: #fff
      display: flex
      overflow: hidden
      position: relative
      align-items: center
      flex-direction: column
      box-sizing: border-box
      justify-content: center

      +bp(xl)
        text-align: left
        flex-direction: row
        justify-content: space-around

      &__box
        position: relative

        +bp(xl)
          max-width: 360px

      &__title
        margin: 15px 0
        font-size: 40px

        +bp(sm)
          font-size: 48px

      &__image
        margin: 15px 0
        position: relative

        +bp(xl)
          margin: 15px

      &__description
        margin: 15px 0
        font-size: 20px

  &__nav
    top: 0
    bottom: 0
    margin: auto
    height: 42px
    font-size: 42px
    cursor: pointer
    position: absolute
    color: $color-primary
    +transition(300ms)

    +bp(lg, max)
      display: none

    &:hover
      color: #fff
      transform: scale(1.2)

    &.swiper-button-disabled
      opacity: 0.5
      pointer-events: none

    &--prev
      left: 0
      transform-origin: right center

    &--next
      right: 0
      transform-origin: left center

  .swiper-pagination
    left: 0
    right: 0
    z-index: 5
    margin: auto
    bottom: -50px

    &-bullet
      opacity: 1
      width: 14px
      height: 14px
      background: #fff
      +transition(300ms)

      &:hover,
      &-active
        background: $color-primary
        transform: scale(1.3)

      & + .swiper-pagination-bullet
        margin-left: 15px
