.download
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-repeat: repeat
  background-color: $color-third
  background-position: center top
  background-image: url(../images/bgs/bg-01-m.jpg)

  +bp(lg)
    padding: 100px 0
    background-attachment: fixed
    background-image: url(../images/bgs/bg-01.jpg)

  &__container
    +container()
    text-align: center
    position: relative

  &__title
    color: #fff
    font-size: 40px
    font-weight: bold

    +bp(sm)
      font-size: 48px

  &__buttons
      width: 100%
      margin-top: 50px
      position: relative

      +bp(lg)
        margin-top: 100px

  &__button
    width: 100%
    color: #fff
    font-size: 18px
    max-width: 320px
    line-height: 50px
    font-weight: bold
    user-select: none
    text-align: center
    border-radius: 50px
    display: inline-block
    text-transform: uppercase
    background-color: $color-primary
    +transition(300ms)

    +bp(sm)
      max-width: 48%
      font-size: 20px

    +bp(lg)
      max-width: 320px

    &:hover
      background-color: $color-secondary
      transform: scale(1.06)

    & + &
      +bp(sm)
        margin-left: 20px

      +bp(sm, max)
        margin-top: 15px

  &__box
    width: 100%
    margin-top: 50px
    position: relative

    +bp(lg)
      margin-top: 200px

  &__logo
    position: relative

  &__slogan
    color: #fff
    font-size: 20px
    margin-top: 50px

  &__info
    margin-top: 50px
    position: relative

    &-item
      color: #fff
      font-size: 20px
      position: relative

      +bp(lg)
        min-width: 230px
        max-width: 230px
        text-align: right
        vertical-align: top
        display: inline-block

        &:nth-child(2)
          text-align: left

      & + &
        +bp(lg)
          margin-left: 30px

        +bp(lg, max)
          margin-top: 15px
