.hero
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-repeat: repeat
  background-color: $color-third
  background-position: center top
  background-image: url(../images/bgs/bg-01-m.jpg)

  +bp(lg)
    background-attachment: fixed
    background-image: url(../images/bgs/bg-01.jpg)

  &__container
    +container()
    position: relative

    &--ie
      +ie()
        max-width: 1920px

  &__head
    width: 100%
    text-align: center
    position: relative
    margin-bottom: 50px

    &-logo
      position: relative

    &-info
      top: 0
      right: 0
      color: #fff
      font-size: 20px
      text-align: right
      position: absolute

      +bp(lg, max)
        display: none

  &__banner
    width: 100%
    color: #fff
    display: flex
    text-align: center
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center

    +bp(lg)
      flex-direction: row
      justify-content: space-between


    &-image
      width: 600px
      position: relative

      +bp(xl)
        width: auto

    &-box
      position: relative

      +bp(lg)
        right: 0
        position: absolute

      +bp(lg, max)
        width: 100%
        margin-top: 30px

      +ie()
        top: 20%

    &-title
      font-size: 9vw
      margin-bottom: 30px

      +bp(sm)
        font-size: 48px

    &-list
      text-align: left
      position: relative
      display: inline-block

      &__item
        display: block
        font-size: 18px

        +bp(sm)
          font-size: 20px

        & + &
          margin-top: 10px

        &:before
          content: "\e904"
          font-size: 12px
          margin-right: 8px
          font-family: "icons"
          color: $color-primary
          display: inline-block
          vertical-align: middle

          +bp(sm)
            font-size: 15px
            margin-right: 15px

    &-info
      font-size: 5.2vw
      margin-top: 30px

      +bp(sm)
        font-size: 30px

      strong
        color: $color-primary

    &-buttons
      width: 100%
      margin-top: 30px
      position: relative

      +bp(sm)
        margin-top: 50px

    &-button
      width: 100%
      color: inherit
      font-size: 18px
      max-width: 320px
      line-height: 50px
      user-select: none
      text-align: center
      border-radius: 50px
      letter-spacing: 1px
      display: inline-block
      text-transform: uppercase
      background-color: $color-secondary
      +transition(300ms)

      +bp(sm)
        max-width: 48%

      +bp(lg)
        max-width: 190px

      &:hover
        background-color: $color-primary
        transform: scale(1.06)

      & + &
        +bp(sm)
          margin-left: 20px

        +bp(sm, max)
          margin-top: 15px

  &__features
    width: 100%
    color: #fff
    margin-top: 100px
    text-align: center
    position: relative

    +bp(lg)
      margin-top: 200px

    &-title
      font-size: 45px
      text-align: center
      position: relative
      display: inline-block

      +bp(sm)
        font-size: 48px

      +bp(xl)
        transform: translateX(15%)

      i
        margin: 0 8px
        font-size: 22px
        color: $color-primary

        +bp(sm)
          font-size: 24px

      small
        display: block
        font-size: 17px
        margin-top: 20px
        padding-bottom: 10px
        text-transform: lowercase
        border-bottom: 2px solid $color-primary

        +bp(sm)
          font-size: 20px

    &-content
      width: 100%
      display: flex
      margin-top: 50px
      position: relative
      align-items: center
      flex-direction: column
      justify-content: center

      +bp(lg)
        flex-direction: row
        justify-content: space-between

    &-box
      position: relative

      +bp(lg)
        &:nth-child(3) .hero__features-item
          text-align: left
          flex-direction: row

        &:nth-child(3) .hero__features-item__icon
          margin-left: 0
          margin-right: 30px

      +bp(lg, max)
        &:nth-child(2)
          display: none

      & + &
        +bp(lg)
          margin-left: 50px

        +bp(lg, max)
          margin-top: 50px

    &-image
      display: none
      position: relative

      +bp(xl)
        display: block
        min-width: 430px

    &-item
      display: flex
      position: relative
      align-items: center
      flex-direction: column
      justify-content: center

      +bp(sm)
        text-align: left
        flex-direction: row

      +bp(lg)
        text-align: right
        flex-direction: row-reverse

      & + &
        margin-top: 50px

        +bp(lg)
          margin-top: 100px

      &__icon
        font-size: 70px
        margin-bottom: 15px

        +bp(sm)
          margin-left: 0
          margin-bottom: 0
          margin-right: 30px

        +bp(md)
          font-size: 90px
          margin-left: 30px

      &__box
        max-width: 460px
        position: relative

      &__title
        font-size: 25px
        margin-bottom: 10px
        color: $color-primary

      &__description
        font-size: 20px
