.plans
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #ddd

  +bp(lg)
    padding: 100px 0

  &__container
    +container()
    text-align: center
    position: relative

  &__title
    font-size: 40px
    font-weight: bold
    color: $color-third
    margin-bottom: 50px

    +bp(sm)
      font-size: 48px

    small
      display: block
      font-size: 24px
      margin-top: 10px
      font-weight: normal

  &__content
    width: 100%
    display: flex
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center

    +bp(lg)
      flex-direction: row
      align-items: flex-start
      justify-content: space-around

  &__box
    position: relative

    +bp(lg)
      max-width: 495px

    +bp(lg, max)
      width: 100%

    & + &
      +bp(lg, max)
        margin-top: 50px

  &__subtitle
    font-size: 23px
    margin-bottom: 30px
    color: $color-primary
    font-family: $font-secondary

  &__info
    position: relative

    &-item
      font-size: 18px
      position: relative
      color: $color-third

      +bp(sm)
        min-width: 235px
        max-width: 235px
        text-align: right
        vertical-align: top
        display: inline-block

        &:nth-child(2)
          text-align: left

      & + &
        +bp(sm)
          margin-left: 20px

  &__list
    width: 100%
    position: relative

    +bp(lg)
      max-width: 385px

    &-item
      width: 100%
      position: relative

      +bp(lg, max)
        margin: 0 auto
        max-width: 320px

      & + &
        margin-top: 50px

      &__title
        color: #b6b6b6
        font-size: 18px
        margin-bottom: 10px
        text-transform: uppercase

        +bp(sm)
          font-size: 19px

        +bp(lg)
          text-align: left
          margin-left: 25px

      &__button
        width: 100%
        display: block
        font-size: 25px
        line-height: 50px
        font-weight: bold
        user-select: none
        position: relative
        border-radius: 50px
        color: $color-third
        border: 5px solid $color-primary
        +transition(300ms)

        +bp(sm)
          font-size: 28px

        +bp(lg)
          min-width: 380px

        &:hover
          border-color: $color-secondary

        &:hover:before
          opacity: 1
          transform: scale(1)

        &:before
          content: "Comprar"
          left: 0
          right: 0
          bottom: -50%
          width: 58%
          opacity: 0
          color: #fff
          margin: auto
          font-size: 14px
          overflow: hidden
          line-height: 30px
          font-weight: bold
          position: absolute
          border-radius: 30px
          text-transform: uppercase
          background-color: $color-secondary
          transform: scale(0.5)
          +transition(300ms)

          +bp(sm)
            font-size: 15px
