.platform
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-size: cover
  background-position: center
  background-color: $color-third
  background-image: url(../images/bgs/bg-03-m.jpg)

  +bp(lg)
    padding: 100px 0
    background-attachment: fixed
    background-image: url(../images/bgs/bg-03.jpg)

  &__container
    +container()
    text-align: center
    position: relative

    +bp(lg)
      text-align: right

  &__title
    color: #fff
    font-size: 30px
    font-weight: bold
    margin-bottom: 50px
    padding-bottom: 10px
    display: inline-block
    border-bottom: 2px solid $color-primary

    +bp(sm)
      font-size: 40px

    +bp(lg)
      font-size: 45px

    +bp(xl)
      font-size: 48px
      margin-bottom: 100px

  &__list
    position: relative
    display: inline-block

    +bp(sm)
      text-align: left
      max-width: 500px

    +bp(lg)
      text-align: right


    &-item
      color: #fff
      display: block
      font-size: 18px

      +bp(sm)
        font-size: 20px

      & + &
        margin-top: 50px

      &:before
        content: "\e904"
        font-size: 12px
        margin-right: 8px
        font-family: "icons"
        color: $color-primary
        display: inline-block
        vertical-align: middle

        +bp(sm)
          font-size: 15px
          margin-right: 15px

  &__buttons
      width: 100%
      margin-top: 50px
      position: relative

      +bp(lg)
        margin-top: 100px

  &__button
    width: 100%
    color: #fff
    font-size: 18px
    max-width: 320px
    line-height: 50px
    user-select: none
    text-align: center
    border-radius: 50px
    letter-spacing: 1px
    display: inline-block
    text-transform: uppercase
    background-color: $color-secondary
    +transition(300ms)

    +bp(sm)
      max-width: 48%

    +bp(lg)
      max-width: 190px

    &:hover
      background-color: $color-primary
      transform: scale(1.06)

    & + &
      +bp(sm)
        margin-left: 20px

      +bp(sm, max)
        margin-top: 15px
