.steps
  z-index: 1
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #ddd
  background-size: cover
  background-position: center
  background-image: url(../images/bgs/bg-04-m.jpg)

  +bp(lg)
    padding: 100px 0
    background-image: url(../images/bgs/bg-04.jpg)

  &:before
    content: ""
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    position: absolute
    background: linear-gradient(to bottom, rgba(221,221,221,1) 0%, rgba(221,221,221,0) 20%, rgba(221,221,221,0) 43%, rgba(221,221,221,0) 47%, rgba(221,221,221,0) 80%, rgba(221,221,221,1) 100%)

  &__container
    +container()
    position: relative
    text-align: center

  &__actions
    width: 100%
    user-select: none
    text-align: center
    position: relative
    margin-bottom: 50px
    text-transform: uppercase

    +bp(lg)
      margin-bottom: 100px

    &-item
      width: 100%
      color: #000
      font-size: 20px
      line-height: 40px
      position: relative
      border-radius: 40px
      display: inline-block
      border: 4px solid #000
      +transition(300ms)

      +bp(sm)
        width: 32%
        font-size: 19px

      +bp(lg)
        width: 28%
        font-size: 22px
        max-width: 370px

      &:hover,
      &.is-active
        color: #fff
        border-color: $color-secondary
        background-color: $color-secondary

      & + &
        +bp(sm)
          margin-left: 10px

        +bp(lg)
          margin-left: 30px

        +bp(sm, max)
          margin-top: 10px

  &__tabs
    width: 100%
    position: relative

    &-item
      width: 100%
      display: none
      position: relative
      align-content: center
      flex-direction: column
      justify-content: center

      +bp(lg)
        flex-direction: row
        align-items: flex-start
        justify-content: space-around

      &.is-active
        display: flex

      &__image
        margin: 15px auto
        position: relative

      &__box
        position: relative

        +bp(lg)
          max-width: 680px
          margin-left: 20px

        +bp(lg, max)
          margin: 20px 0

      &__description
        font-size: 18px
        position: relative
        color: $color-third

        +bp(lg)
          text-align: left

        h2
          font-size: 35px
          font-weight: bold

          +bp(sm)
            font-size: 40px

        h3
          font-size: 22px
          font-weight: bold

      &__buttons
        width: 100%
        position: relative

      &__button
        width: 100%
        color: #fff
        font-size: 13px
        max-width: 130px
        line-height: 40px
        user-select: none
        text-align: center
        border-radius: 40px
        letter-spacing: 1px
        display: inline-block
        text-transform: uppercase
        background-color: $color-secondary
        +transition(300ms)

        +bp(sm, max)
          display: block
          margin: 0 auto

        &:hover
          background-color: $color-primary
          transform: scale(1.06)

        & + &
          +bp(sm)
            margin-left: 10px

          +bp(sm, max)
            margin-top: 10px
