.video
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #ddd

  +bp(lg)
    padding: 100px 0

  &__container
    +container()
    text-align: center
    position: relative

  &__title
    font-size: 40px
    font-weight: bold
    color: $color-third
    margin-bottom: 50px

    +bp(sm)
      font-size: 48px

  &__player
    width: 100%
    margin: 0 auto
    max-width: 900px
    position: relative
    margin-bottom: 50px

    &-wrapper
      width: 100%
      +fluid-video()

    &-iframe
      border: 0
      outline: 0
      user-select: none

  &__description
    font-size: 18px
    position: relative
    color: $color-third

    +bp(lg)
      text-align: left
