.header
  top: 0
  left: 0
  z-index: 10
  width: 100%
  height: 100%
  position: fixed
  +transition(300ms)

  +bp(lg)
    height: 60px
    transform: translateY(-155%)
    background-color: $color-primary

    &.is-active
      transform: translateY(0)

    &.is-active &-menu li
      animation-name: fadeInDown

    &.is-active &__logo
      opacity: 1
      transform: translateY(50%) scale(1)

  +bp(lg, max)
    opacity: 0
    pointer-events: none
    background-color: rgba(0,0,0,0.7)

    &.is-active
      opacity: 1
      pointer-events: all

    &.is-active &__container
      transform: scale(1)

    &.is-active &-menu li
      animation-name: zoomIn

  &.is-active &-menu li
    animation-duration: 600ms
    animation-fill-mode: both
    animation-iteration-count: 1
    animation-timing-function: ease

  &.is-active &-menu li:nth-child(1)
    animation-delay: 100ms

  &.is-active &-menu li:nth-child(2)
    animation-delay: 150ms

  &.is-active &-menu li:nth-child(3)
    animation-delay: 200ms

  &.is-active &-menu li:nth-child(4)
    animation-delay: 250ms

  &__logo
    display: none

    +bp(lg)
      left: 0
      right: 0
      bottom: 0
      z-index: 2
      opacity: 0
      width: 65px
      margin: auto
      display: block
      position: absolute
      transform: translateY(50%) scale(0)
      +transition(800ms)

  &__container
    +container()
    height: 100%
    display: flex
    flex-wrap: wrap
    user-select: none
    text-align: center
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center
    +transition(300ms)

    +bp(lg)
      flex-direction: row
      justify-content: space-between

    +bp(lg, max)
      transform: scale(0.8)

  nav
    position: relative

    +bp(lg)
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between

  &__box
    position: relative

    & + &
      +bp(lg, max)
        margin-top: 10px

  &-menu
    width: 100%
    position: relative

    li
      position: relative

      +bp(lg)
        display: inline-block

      +bp(lg, max)
        width: 100%
        display: block
        text-align: center

      &:hover a
        +bp(lg)
          color: $color-secondary

        +bp(lg, max)
          border-color: $color-secondary
          background-color: $color-secondary
          transform: scale(1.06)

      &:hover a:before
        +bp(lg)
          width: 100%

      & + li
        +bp(lg)
          margin-left: 80px

        +bp(lg, max)
          margin-top: 10px

    &__item
      color: #fff
      font-size: 20px
      position: relative
      display: inline-block
      +transition(300ms)

      +bp(lg, max)
        width: 240px
        font-size: 18px
        line-height: 40px
        letter-spacing: 2px
        border-radius: 40px
        border: 2px solid #fff
        text-transform: uppercase

      &:before
        +bp(lg)
          content: ""
          left: 0
          right: 0
          bottom: 0
          width: 0
          height: 4px
          margin: auto
          position: absolute
          border-radius: 10px
          background-color: $color-secondary
          transform: translateY(6px)
          +transition(300ms)

.navigation
  top: 0
  right: 5px
  z-index: 25
  width: 58px
  height: 58px
  display: block
  cursor: pointer
  position: fixed
  border-radius: 5px
  +transition(300ms)

  +bp(lg)
    display: none

  &.is-active span
    background-color: transparent

  &.is-active span:after,
  &.is-active span:before
    top: 0

  &.is-active span:after
    transform: rotate(45deg)

  &.is-active span:before
    transform: rotate(-45deg)

  span
    top: 0
    bottom: 0

    &,
    &:after,
    &:before,
      left: 0
      right: 0
      width: 36px
      height: 4px
      margin: auto
      position: absolute
      background-color: $color-secondary
      +transition(300ms)

    &:after,
    &:before,
      content: ""

    &:after
      top: 10px

    &:before
      top: -10px
