extends /layouts/application

block main
  include /pages/home/hero
  include /pages/home/difference
  include /pages/home/discovery
  include /pages/home/platform
  include /pages/home/plans
  include /pages/home/steps
  include /pages/home/video
  include /pages/home/download
